* {
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: serif;
}

body {
    background-color: rgb(13, 166, 89);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* 세로 방향 중앙 정렬 */
}

img {
    max-width: 70%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

p {
    font-size: 3.5rem;
    line-height: 3.2rem;
    position: absolute;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#first {
    color: lawngreen;
    text-align: left;
    top: 65%;
    left: 20%;
    transform: translateY(-50%);
}

#second {
    text-decoration: underline;
    color: blue;
    top: 90%;
    left: 30%;
    text-align: right;
    transform: translateY(-50%);
}

/* 반응형 스타일 */
@media (max-width: 768px) {
    img {
        max-width: 90%; /* 이미지 크기를 더 크게 설정 */
    }

    p {
        font-size: 2rem; /* 텍스트 크기를 줄임 */
        line-height: 35px; /* 줄 간격 조정 */
    }

    #first {
        top: 65%; /* 첫 번째 텍스트 위치 조정 */
        left: 15%; /* 왼쪽 위치 조정 */
        text-align: left; /* 중앙 정렬로 변경 */
    }

    #second {
        top: 85%; /* 두 번째 텍스트 위치 조정 */
        left: 20%; /* 왼쪽 위치 조정 */
        text-align: right; /* 중앙 정렬로 변경 */
    }
}

@media (max-width: 480px) {
    p {
        font-size: 1em; /* 더 작은 화면에서는 텍스트 크기 추가로 줄임 */
        line-height: 1.1rem; /* 줄 간격 추가로 조정 */
    }

    #first {
        font-size: 1em;
        top: 65%; /* 첫 번째 텍스트 위치 더 조정 */
        left: 13%; /* 왼쪽 위치 조정 */
    }

    #second {
        font-size: 1em;
        top: 85%; /* 두 번째 텍스트 위치 더 조정 */
        left: 35%; /* 왼쪽 위치 조정 */
    }
}
